.category-container
{
   
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 2% 5% ;
    padding: 0px 2%;
    
}
.category-container button{
    width:fit-content ;
    padding: 10px;
    border: 2px solid #9400d3;
    border-radius: 12px;
    background-color:#9400d3;
    color: #d3d3ff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.category-container button:hover
{
    border: 2px solid #bf2bff;
    color: #b404ff;
    background-color: #232323;
}
.search
{
    text-align: center;
    padding: 5%;
}
.input-box
{
    width: 70%;
    padding: 7px 10px;
    font-family: 'poppins',sans-serif;
    border: 3px solid #9400d3;
    border-radius: 12px;
}
