.container0
{
    margin-top: 7%;
   
    width: 100%;
    color: #d3d3ff;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}
.container0 p
{
    background: none;
    font-size: 8px;
    width: 110px;
}
.container0 ul {list-style: none;font-size: 10px;}
.container0 ul li{margin: 6px;}

#subHead{font-family: 'Lobster', cursive;margin-bottom: 5px;color: #9400D3;}

#fo{color: #d3d3ff;font-size: 9px;text-align: center;
    background-color: black;margin-top: 10px;}

footer{background-color: black;}

#foot li{cursor: pointer;}